.imagem{ 
  width: 500px;
}

nav{
    
    font-size: 30px;
}

nav li{
     display: inline-flex;
     margin-left:30%;
}
 
nav li:hover{

    color: red;
    font-size: 35px;
    transition: 0.8s;

}



 body {
    background-color: #0bc7c4 
}

h1 { 
  text-align: center;  
}

.centro{

    text-align: center;
    font-family:Cambria,Cochin,Georgia,Times,'Times New Roman',Serif;

}
    

 
